.banner {
    background-color: var(--verde-escuro);
    margin: 35px 50px;
    padding: 60px;
    border-radius: 25px;

    h2 {
        color: white;
        text-align: center;
        font-weight: 600;
        font-size: 1.40rem;
    }
}