.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--azul-clarissimo);
    margin: 1rem 20rem;
    padding: 25px 0;
}

.capa {
    display: flex;
    justify-content: center;

    img {
        border-radius: 8px;
        width: 90%;
    }
}